/*
* Just to demonstrate our CSS loading.
*/

.logo-lg {
    &::after {
        content: ' & React'
    }
}

shared-state-output {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;

    a {
        color: #fff;
    }
}
